:root {
  --clr-dark-400: #172339;
  --clr-dark-300: #49566d;
  --clr-light-400: #f3ede7;
  --clr-light-300: #faf8f6;

  --clr-primary-400: #a060ff;
  --clr-primary-500: #cb30e3;
  --clr-primary-600: #ffa84e;

  --ff-primary: "Epilogue", sans-serif;
  --ff-primary-regular: 400;
  --ff-primary-bold: 700;

  --header-padding: 2rem 1rem 1rem;
  --general-padding: 4rem 1rem 1rem;
  --elements-padding-top: 2rem;
  --general-margin-top: 1rem;
  --padding-left-right: 0 1rem 1rem;
  --padding-left-right-tblt: 0 2.469rem 2.469rem;
  --padding-left-right-dsktp: 0 10.313rem 10.313rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: var(--ff-primary);
  font-size: 18px;
  letter-spacing: 0.1px;
  background-color: var(--clr-light-300);
  height: 100vh;
  color: var(--clr-dark-400);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding);
  width: 100%;
}

.first-betaAccess-button {
  border: 1.5px solid black;
  border-radius: 0.5rem;
  background-color: var(--clr-light-300);
  font-weight: var(--ff-primary-bold);
  width: 11.375rem;
  height: 3rem;
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  letter-spacing: -0.14px;
}

.first-betaAccess-button:hover {
  cursor: pointer;
  background-color: var(--clr-dark-400);
  color: var(--clr-light-300);
}

.betaAccess-button-styling {
  text-decoration: none;
  color: inherit;
}

.first-section-container {
  padding: var(--general-padding);
  position: relative;
  width: 100%;
}

.pattern-curved-line-image {
  width: 9.467rem;
}

.pattern-curved-line-container {
  position: absolute;
  margin-top: -2rem;
  left: 10.7rem;
}

.section-h1-styling {
  font-size: 2.375rem;
  letter-spacing: -0.53px;
  line-height: 1;
  font-weight: var(--ff-primary-regular);
}

.h1-span-styling {
  font-weight: var(--ff-primary-bold);
}

.section-p-styling {
  padding-top: var(--elements-padding-top);
  letter-spacing: 0.09px;
  line-height: 1.5;
  color: var(--clr-dark-300);
}

.second-betaAccess-button {
  margin-top: 2rem;
  border: 1.5px solid black;
  border-radius: 0.5rem;
  background-color: var(--clr-dark-400);
  color: var(--clr-light-300);
  font-weight: var(--ff-primary-bold);
  width: 16rem;
  height: 3.813rem;
  font-family: var(--ff-primary);
  font-size: 1.125rem;
  letter-spacing: -0.14px;
}

.second-betaAccess-button:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #a060ff, #cb30e3, #ffa84e);
  border: 0;
}

.first-article-container {
  width: 100%;
}

.image-hero-landscape-mobile {
  margin-top: 3rem;
  padding: var(--padding-left-right);
  width: 100%;
  height: auto;
}

.info-article-container {
  width: 100%;
  margin-top: var(--elements-padding-top);
  padding: var(--padding-left-right);
  gap: 1rem;
}

.info-h2-styling {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  font-weight: var(--ff-primary-bold);
  line-height: 1.5;
  padding-top: 1rem;
}

.info-h2-span-styling {
  font-size: 1rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: var(--ff-primary-regular);
  color: var(--clr-dark-300);
}

.main-container {
  background-color: var(--clr-dark-400);
  width: 100%;
  border-radius: 1rem;
  margin-top: 15rem;
}

.large-jeremy-image-container {
  display: flex;
  justify-content: center;
}

.large-jeremy-image {
  margin-top: -11.5rem;
  width: 15.75rem;
  height: auto;
}

.small-curved-line-image-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.small-curved-line-image {
  width: 3.079rem;
}

.text-container {
  position: relative;
  margin-top: 2rem;
  font-size: 2.5rem;
}

.text-container-h1-styling {
  color: var(--clr-light-300);
  text-align: center;
  font-weight: var(--ff-primary-regular);
  font-size: 2.5rem;
}

.text-container-h1-styling > span {
  font-weight: var(--ff-primary-bold);
}

.text-container-p-styling {
  margin-top: 2rem;
  color: var(--clr-light-400);
  font-size: 1.125rem;
  text-align: center;
  letter-spacing: 0.09px;
  padding: var(--padding-left-right);
  line-height: 1.5;
}

.text-container-h2-styling {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: var(--clr-light-300);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: var(--ff-primary-bold);
  text-align: center;
}

.text-container-h2-styling > span {
  font-weight: var(--ff-primary-regular);
  font-size: 1rem;
  letter-spacing: 2.5px;
  color: var(--clr-light-400);
  margin-bottom: 4rem;
  z-index: 1;
}

.footer-container-wrapper {
  position: absolute;
  width: 100%;
  background-color: var(--clr-light-400);
  z-index: -1;
  padding-top: 30rem;
  margin-top: -26.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}

.footer-h2-styling {
  font-size: 0.938rem;
  color: var(--clr-dark-300);
}

.icons-flex-group {
  display: flex;
  gap: 2rem;
  padding-bottom: 4rem;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    place-items: center;
    height: 30.125rem;
    margin-top: 4rem;
  }

  .header-container {
    padding-top: 2rem;
    padding-left: 2.469rem;
    padding-right: 2.469rem;
  }

  .pattern-curved-line-image {
    width: 14.449rem;
    margin-left: 6rem;
  }

  .first-section-container {
    padding-left: 2.469rem;
  }

  .section-h1-styling {
    font-size: 3.5rem;
    letter-spacing: -0.78px;
    width: 33rem;
    height: 8.063rem;
  }

  .first-betaAccess-button {
    width: 13.688rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  .image-hero-landscape-tblt-dsktp {
    width: 17.563rem;
    height: auto;
    object-fit: cover;
    margin-left: auto;
    margin-right: 2.5rem;
  }

  .section-p-styling {
    font-size: 1rem;
    text-align: left;
    width: 21.875rem;
  }

  .info-article-container {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
  }

  .text-container-h1-styling {
    font-size: 2.5rem;
  }

  .text-container-p-styling {
    padding-left: 6.094rem;
    padding-right: 6.094rem;
  }

  .main-container-padding {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .footer-container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }

  .footer-container-wrapper > picture > img {
    padding-bottom: 0.5rem;
  }

  .icons-flex-group {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding-right: 10.313rem;
    padding-left: 10.313rem;
  }

  .dsktp-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--padding-left-right-dsktp);
    align-items: center;
    margin-top: 4rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .image-hero-landscape-tblt-dsktp {
    max-width: 21.875rem;
    max-height: 37.5rem;
    margin-left: -10rem;
  }

  .first-section-container {
    margin-top: 4rem;
    width: 100%;
    height: 25.313rem;
  }

  .pattern-curved-line-image {
    width: 17.938rem;
    margin-top: -1.5rem;
    margin-left: 9rem;
  }

  .section-h1-styling {
    font-size: 4.5rem;
    width: 39.688rem;
  }

  .section-p-styling {
    width: 21.875rem;
    margin-bottom: 2rem;
  }

  .info-article-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .main-container {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 10rem 2fr;
    background-color: var(--clr-dark-400);
    width: 69.313rem;
    height: 34.063rem;
    border-radius: 1rem;
    margin-left: 10.313rem;
  }

  .large-jeremy-image {
    position: absolute;
    width: 22.488rem;
    height: 36.848rem;
    margin-top: -2.817rem;
    padding-left: var(--element-padding);
  }

  .small-curved-line-image {
    width: 4.003rem;
    height: 3.25rem;
    margin-top: 8rem;
  }

  .text-container {
    width: 21.875rem;
  }

  .text-container > h1 {
    font-size: 3rem;
    color: var(--clr-light-300);
    font-weight: var(--ff-primary-regular);
    text-align: left;
  }

  .text-container > h1 > span {
    font-weight: var(--ff-primary-bold);
  }

  .text-container-p-styling {
    padding-top: 2rem;
    color: var(--clr-light-400);
    line-height: 1.9;
    font-size: 1.25rem;
    font-family: var(--ff-primary);
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }

  .text-container-h2-styling {
    text-align: left;
  }

  .footer-container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10.313rem;
    padding-right: 10.313rem;
  }

  .icons-flex-group {
    margin-top: 3.5rem;
  }
}

@media (min-width: 768px) {
  .image-hero-landscape-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .image-hero-landscape-tblt-dsktp {
    display: none;
  }
}

@media (max-width: 354px) {
  .pattern-curved-line-image {
    display: none;
  }
}
